.copyright{
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;

}

.copyrightdiv{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.copyrightflex{
  display: flex;
  flex-direction: row;

}

.copyrightflex div{
font-size: 18px;
color: #006BB1;
font: normal normal bold 20px/29px Futura LT Pro;
}

@media (max-width:680px){
  .copyrightflex div{
    font-size: 13px;
  }
}