.footer{
width: 100%;
height: 200px;
background-color: #006BB1;
align-items: center;
display: flex;
}

  
  .footercol{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .footerrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footerheader{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font: normal normal bold 25px/35px Trajan Pro;
    color: white;
  }

  .footertext1{
    color: white;
    font: normal normal 500 20px/29px Futura LT Pro;
  }

  .footertext2{
    color: white;
    text-decoration: underline;
    font: normal normal bold 20px/29px Futura LT Pro;
    cursor: pointer;
  }

  .footertext2:hover{
    text-decoration: underline;
  }

  .instagram{
   
    padding-left: 1rem;
  }

  .facebook{
    padding-right: 1rem;
  }

  @media (min-width:680px) and (max-width: 1075px) {

.footerrow{
  flex-direction: column;
}

.footer{
  height: 600px;
  }

  .footercol{
 width: 80%;   
  }

}


@media (max-width:680px){
  .footerrow{
    flex-direction: column;
  }
  .footer{
    height: 600px;
    }
    .footercol{
      width: 80%;   
       }
}
