@font-face {
  font-family: 'Futura LT Pro';
  src: url('../fonts/FuturaLTProBoldCond.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Futura LT Pro';
  src: url('../fonts/FuturaLTProLightCond.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Futura LT Pro';
  src: url('../fonts/FuturaLTProMediumCond.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Trajan Pro';
  src: url('../fonts/TrajanPro-Bold.otf') format('opentype');
  font-weight: bold;
}

body{
  margin: 0;
  display: block;
  max-width: 1920px;
}

.borderdiv{
  width: 62.5%;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1280px) {


  .borderdiv{
    width: 90%;
}

}


@media (max-width: 768px) {
  .borderdiv{
    width: 98%;
}
}