@font-face {
  font-family: 'Futura LT Pro';
  font-weight: bold;
  src: url('../fonts/FuturaLTProBold.otf') format('opentype'),
      
}

.navbar{
 display: flex;
 flex-direction: row;
  height: 80px;
  width: 100%;
  padding-top: 20px;
  justify-content: space-between;
}

.navright{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.navbartext{
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Futura LT Pro', sans-serif;
  font-weight: bold;
  
}

.middletextarea{
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  color: white;
}