

.navbar{
 display: flex;
 flex-direction: row;
  height: 80px;
  width: 100%;
  padding-top: 20px;
  justify-content: space-between;
}

.navright{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.navbartext{
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Futura LT Pro', sans-serif;
  font-weight: bold;
  

}

.middletextarea{
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  color: white;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navright{
    display: none;
  }

  .middletextarea{
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .middletextarea{
    width: 70%;
  }
  .navright{
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .middletextarea{
    width: 70%;
  }
  .navright{
    display: none;
  }
}


@media (max-width: 480px) {
  .middletextarea{
    width: 70%;
  }
  .navright{
    display: none;
  }
}