.pokojdiv{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}
.pokojdivrow{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pokojheader{
  padding-top: 2rem;
  font: normal normal bold 55px/77px Trajan Pro;
  color: #006BB1;
}
.pokojtext1{
  padding-top: 2rem;
  font: normal normal bold 27px/37px Futura LT Pro;
  color: #757474;
}
.pokojtext2{
  padding-top: 2rem;
  font: normal normal 300 20px/29px Futura LT Pro;
  color: #757474;
}
.pokojtext3{
  padding-top: 2rem;
  font: normal normal bold 20px/29px Futura LT Pro;
  color: #006BB1;
}

@media (max-width: 1667px) {
  .pokojdiv{
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pokojdetailimg{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;

  }

  .pokojdetailimg img{
    width: 100%;
    height: auto;
  }
  .pokojheader{
    font-size: 45px;
  }
  .pokojtext1{
    font-size: 20px;
  }
  .pokojtext2{
    font-size: 17px;
  }
  .pokojtext3{
    font-size: 17px;
  }
  .pokojdivrow{
    flex-direction: column;
  }
}