.roomselect{
  
  width: 100%;
  height: 650px;

  z-index: -2;
}

.roomselectscreen{
  background-color: #006BB1;
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: -2;
}
.roomselectdetailflex{
display: flex; 
justify-content: center; 
padding-top: 2rem;
flex-direction: row;
}
.roomselectdiv{
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

.roomselecttext1{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font: normal normal bold 55px/77px Trajan Pro;
}

.roomselecttext2{
  padding-top: 0.2rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font: normal normal bold 27px/37px Futura LT Pro;
}

.roomselecttext3{
  padding-top: 2.2rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
  margin: auto;
  font: normal normal 300 20px/29px Futura LT Pro;
}

.roomselectdate1{
width: 446px;

height: 68px;
background-color: #005186;
text-align: center;
border: 0;
color: white;
cursor: pointer;

font-size: 22px;
font: normal normal bold 22px/30px Futura LT Pro;
}



.roomselectdate2{
  width: 446px;
  height: 68px;
  background-color: #005186;
  text-align: center;
  border: 0;
  color: white;
  font-size: 22px;

}

.roomselectdate3{
  width: 322px;
  height: 68px;
  background-color: #005186;
  text-align: center;
  border: 0;
  color: white;
  font-size: 22px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  }

  .roomselectdate3::placeholder{
    color: white;
    font: normal normal bold 22px/30px Futura LT Pro;
  }
  .roomselectdate4{
    width: 167px;
    height: 68px;
    background-color: #005186;
    text-align: center;
    border: 0;
    color: white;
    font-size: 22px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    }


    .roomselectdate4::placeholder{
      color: white;
      font: normal normal bold 22px/30px Futura LT Pro;
    }

.roomselectdate1::placeholder{
  color: white;
}

.roomselectdate5::placeholder{
  color: white;
}
.roomselectbutton{
  height: 50px;
  width: 326px;
  background-color: #FFFFFF;
  color: #006BB1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  font: normal normal bold 22px/30px Futura LT Pro;
}

.roomselectbutton:hover{
  background-color: #005186;
  color: white;
}
.roomselectdate5{
  width: 446px;
  height: 68px;
  background-color: #005186;
  text-align: center;
  border: 0;
  color: white;
  font-size: 22px;
  font: normal normal bold 22px/30px Futura LT Pro;
  margin-right: 1rem;
  margin-left: 1rem;
  }

.roomselectbuttondiv{

padding-top: 3rem;
}

.roomselectundertext{
  padding-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  font: normal normal 300 20px/29px Futura LT Pro;
}

.roomselecttext{
  color: white;
  font: normal normal bold 34px/46px Futura LT Pro;
  margin-top: 1.8rem;
  line-height: 0.2rem;
 
}

.roomselectdivcenter2{
  padding-top: 2rem;
}
.roomselectimage{
  height: 650px;
  
}

.roomselectdivcenter{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1700px ) {
  .roomselectdivcenter{
    display: flex;
    flex-direction: row;
  }
  .roomselectdate1{
 
    margin: 0.5rem;
  } 
  .roomselectimg{
    display: none;
  }
  .roomselectdiv{
    height: 100%;
  }
  .roomselectscreen{
    height: 80%;
  }
}

@media (min-width: 1009px) and (max-width: 1280px) {
  .roomselectdiv{
    height: 100%;
  }
  .roomselectscreen{
    height: 80%;
  }
.roomselectimg{
  display: none;
}

.roomselectdivcenter2{
  padding-top: 2rem;
}
.roomselectdetailflex{
  flex-direction: column;
}

}

@media (min-width: 689px) and (max-width: 1009px) {

  .roomselectimg{
    display: none;
  }
  .roomselectdate1{
    width: 280px;
    margin: auto;
  }  

  .roomselectdivcenter2{
    padding-top: 2rem;
  }
  .roomselectdetailflex{
  flex-direction: column;
}
 .roomselectimage{
    height: 100%;
    object-fit: cover;
  }
  .roomselectscreen{
    height: 100%;
  }
  .roomselect{
    background-color: #006BB1;
    height: 100%;
    padding-bottom: 5rem;
  }
  .roomselectimg{
    display: none;
  }
  .roomselectdivcenter{
    display: flex;
     justify-content: center;
      padding-top: 2rem;
       flex-direction: column;
  }
  .roomselectdate1{
    width: 600px;
  margin: auto;
  }
  .roomselecttext1{
    font-size: 40px;
  }
  .roomselecttext3{
    font-size: 18px;
    width: 80%;
    margin: auto;
  }
  .roomselectdivcenter2{
    padding-top: 0rem;
  }
.roomselectbutton{
  width: 600px;
  margin: auto;
}
  .roomselectdetailflex{
  flex-direction: column;
}
.roomselectdate5{
  width: 600px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.roomselectdate4{
  width: 600px;
   
}
  .roomselectdate3{
  max-width: 600px;
  width: auto;
  }
  .roomselecttext{
  font-size: 30px;
  margin-top: rem;
  margin: auto;
}
}

@media (max-width: 689px) {
  .roomselectimage{
    height: 100%;
    object-fit: cover;
  }
  .roomselectscreen{
    height: 100%;
  }
  .roomselect{
    background-color: #006BB1;
    height: 100%;
    padding-bottom: 5rem;
  }
  .roomselectimg{
    display: none;
  }
  .roomselectdivcenter{
    display: flex;
     justify-content: center;
      padding-top: 2rem;
       flex-direction: column;
  }
  .roomselectdate1{
    width: 300px;
  margin: auto;
  }
  .roomselecttext1{
    font-size: 40px;
  }
  .roomselecttext3{
    font-size: 18px;
    width: auto;
  }
  .roomselectdivcenter2{
    padding-top: 0rem;
  }
.roomselectbutton{
  width: 300px;
  margin: auto;
}
  .roomselectdetailflex{
  flex-direction: column;
}
.roomselectdate5{
  width: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.roomselectdate4{
  width: 300px;
   
}
  .roomselectdate3{
  max-width: 300px;
  width: auto;
  }
  .roomselecttext{
  font-size: 30px;
  margin-top: 1rem;
  margin: auto;
}
}

@media (max-width:585px) {
  .roomselect{
    padding-bottom: 0;
  }

  .roomselectdate1{
    width: 300px;
  margin: auto;
  }
.roomselecttext{
  font-size: 30px;
  margin-top: 1rem;
  margin: auto;
}
  .roomselectdate3{
  max-width: 300px;
  width: auto;
  }
.roomselectdate4{
  width: 300px;
   
}
.roomselectbutton{
  width: 300px;
  margin: auto;
}
.roomselectdate5{
  width: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.roomselectdetailflex{
  flex-direction: column;
}

}